# Ignorar o ambiente virtual
venv/
env/


# Ignorar as bases de dados (muito pesadas para o GitHub)
#data/raw/
#data/processed/

# Ignorar arquivos temporários do Python e do Jupyter
__pycache__/
.ipynb_checkpoints/
*.pyc